.reg-inp{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 12px;	
	width: 35%;
}

#reg-teacher-num{
	width: 73.8%;
}

#reg-add-student-name, #reg-add-student-email{
	width: 32%;
	position: relative;
	top: 2px;
}

#reg-add-student-class{
	width: 64%;
	padding-left: 15px;
	padding-right: 35px;
	height: 34px;
	box-sizing: initial;
}

.reg-add-student-event{
	position: relative;
	zoom: 1.25;
	-webkit-appearance: checkbox;
}

#reg-add-student{
	margin-top: 25px;
}

.remove-student{
	height: 22px;
	width: 22px;
	position: relative;
	top: 2px;
	cursor: pointer;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-ms-transition: background-color 0.3s;
	transition: background-color 0.3s;
	padding: 2px;
	border-radius: 100%;
}

.remove-student:hover{
	background-color: rgba(10,10,10,0.06);
}


#reg-events th, #reg-events td{
	height: 50px;
}

#reg-events td{
	font-size: 10pt;
}

.reg-events-total{
	color: #55b78c;
	font-weight: 600;
}

.reg-events-complete {
    color: #fff;
    background-color: #2ecc81;
    padding: 6px;
    border-radius: 4px;

}

#student-head, #event-head{
	margin-top: 40px;
	margin-bottom: -24px;
}

#reg-go{
	height: 45px;
	width: 200px;
	margin-top: 50px;
	background-color: #2ecc81;
	margin-bottom: 20px;
}