*{
	padding: 0px;
	margin: 0px;
	background-color: transparent;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	font-family: montserrat;
}

a{
	color: inherit;
	text-decoration: none;
}

b{
	font-weight: 500;
}

body, html{
	height: 100%;
}

body{
	background-color: #fff;
	overflow-x: hidden;
	background-image: url("../img/wallpaper2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

button:focus, input:focus, textarea:focus, select:focus{
	outline: none;
}

a{
	color: inherit;
	text-decoration: none;
}

header{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 61px;
	width: 100%;
	z-index: 5;
	text-align: left;
	background-color: rgb(51, 120, 233);
	box-shadow: 0px 2px 3px 0px rgba(10,10,10,0.16);
}

.ui-header-logo{
	height: 34px;
	width: auto;
	position: relative;
	top: 14px;
	left: 40px;
}

.ui-dis{
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	background-color: rgba(19, 44, 86, 0.4);
}

.ui-page-head, .ui-page-desc{
	position: fixed;
	display: block;
	color: #fff;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	left: 14%;
	top: 105px;
	height: 80px;
	font-weight: 200;
	font-size: 38px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: left;
}

.ui-page-desc{
	font-size: 10pt;
	text-transform: initial;
	font-weight: 300;
	width: 68%;
	text-align: justify;
	top: 195px;
}

.ui-page-content{
	position: relative;
	margin: auto;
	margin-top: 240px;
	margin-bottom: 80px;
	padding-top: 35px;
	padding-bottom: 35px;
	background-color: #fff;
	border-radius: 4px;
	z-index: 2;
}

.ui-inp-text{
	height: 38px;
	width: 220px;
	border: none;
	border-bottom: 2px solid rgba(10,10,10,0.6);	
	border-radius: 0px;
	color: #222;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 10pt;
	font-weight: 500;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-ms-transition: background-color 0.3s;
	transition: background-color 0.3s;	
}

.ui-inp-text:focus{
	background-color: rgba(10,10,10,0.06) !important;
}
.ui-inp-text:hover{
	background-color: rgba(10,10,10,0.04);
}

select.ui-inp-text{
	border: 2px solid rgba(10,10,10,0.6);		
}

.ui-page-content-head{
	font-weight: 400;
	color: #666;
	font-size: 13pt;
	margin-top: 50px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.ui-btn{
	border: none;
	height: 38px;
	width: 140px;
	background-color: #48a0ff;
	color: #fff;
	border-radius: 4px;
	font-size: 9pt;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
}